* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    color: #cdd6f4;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 0;
    padding: 0 8px;
}

#custom-arch {
    color: #89dceb;
    font-size: 19px;
    padding: 0 10px 0 4px;
}

#workspaces button {
    color: #bac2de;
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 0 7px;
    margin: 3px 2px;
}

#workspaces button.active {
    color: #f38ba8;
    background: transparent;
    border: none;
    border-bottom: 2px solid #f38ba8;
    border-radius: 0;
    box-shadow: none;
}

#workspaces button.empty {
    color: #6c7086;
}

#workspaces button.urgent {
    color: #fab387;
    background: transparent;
    border: none;
    box-shadow: none;
}

#clock {
    color: #f5e0dc;
    font-weight: bold;
}

#network,
#pulseaudio,
#backlight,
#mpris,
#tray {
    color: #cdd6f4;
    padding: 0 8px;
}

#network.disconnected,
#pulseaudio.muted {
    color: #f38ba8;
}

#tooltip {
    color: #cdd6f4;
    background: rgba(17, 17, 27, 0.96);
    border: 1px solid #89dceb;
    border-radius: 7px;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
}
