* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    color: #c3e8db;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 0;
    padding: 0 8px;
}

#custom-arch {
    color: #70d3b5;
    font-size: 19px;
    padding: 0 10px 0 4px;
}

#workspaces button {
    color: #bad8ca;
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 0 7px;
    margin: 3px 2px;
}

#workspaces button.active {
    color: #65c7a6;
    background: transparent;
    border: none;
    border-bottom: 2px solid #65c7a6;
    border-radius: 0;
    box-shadow: none;
}

#workspaces button.empty {
    color: #82745f;
}

#workspaces button.urgent {
    color: #e8b870;
    background: transparent;
    border: none;
    box-shadow: none;
}

#clock {
    color: #f0cf91;
    font-weight: bold;
}

#network,
#pulseaudio,
#backlight,
#mpris,
#tray {
    color: #c3e8db;
    padding: 0 8px;
}

#network.disconnected,
#pulseaudio.muted {
    color: #f38ba8;
}

#tooltip {
    color: #c3e8db;
    background: rgba(17, 17, 27, 0.96);
    border: 1px solid #70d3b5;
    border-radius: 7px;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
}
